LOG_LEVEL=INFO

DATABASE_URL=postgresql+asyncpg://mnemo_user:mnemo_password@localhost:5432/mnemo_db
REDIS_URL=redis://localhost:6380/0
SIDECAR_URL=http://localhost:3001

OPENAI_API_KEY=
EMBEDDING_MODEL=text-embedding-3-small
MNEMO_PACKAGE_ID=0x7b6c4130a57c3bfc8b4d123a2bc96f962932a7dbd73642fb70da0c8039d5b23d
